<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrategias</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<h1>PUNTUACIÓN:</h1>
<h2>{{ descriptor.principio.estrategia }}</h2>
<h2>{{ descriptor.principio }}</h2>
<p>{{ descriptor.contenido }}</p>

<div class="container d-flex justify-content-center">
    <form action="{% url 'elama:volcado' autoevaluacion.id descriptor.principio.estrategia.id descriptor.principio.id descriptor.id %}"
          method="post">
        {% csrf_token %}
        <div class="d-flex align-items-center gap-2" id="id_valoracion">
        {% for opcion in form.valoracion %}
            <div>
                <input
                        type="radio"
                        class="btn-check"
                        name="valoracion"
                        id="idvaloracion{{ opcion.data.value }}"
                        value="{{ opcion.data.value }}"
                        {% if form.instance.valoracion and form.instance.valoracion|floatformat:0 == opcion.data.value|floatformat:0 %}
                        checked
                        {% endif %}
                />
                <label
                        class="btn btn-outline-success"
                        for="idvaloracion{{ opcion.data.value }}"
                        style="width: 100px;"
                >
                    {{ opcion.data.value }}
                </label>
            </div>
        {% endfor %}
        </div>
        <input type="submit" class="btn btn-outline-primary mt-2" value="Siguiente">
    </form>
</div>

</body>
</html>
